/*------------------------------------
  Border Radius (Rounded Styles)
------------------------------------*/
//
// .rounded, .rounded-top, .rounded-right, .rounded-bottom, .rounded-left
// .rounded-circle
// .rounded-0
//

/* Rounded Around */
.rounded-0 {
  border-radius: 0 !important;
}

.g-rounded-50x {
  border-radius: 50%;
}

@for $i from 1 through 7 {
  .g-rounded-#{$i} {
    border-radius: #{$i}px !important;
  }
}
.g-rounded-10 {
  border-radius: 10px !important;
}
.g-rounded-15 {
  border-radius: 15px;
}
.g-rounded-20 {
  border-radius: 20px;
}
.g-rounded-25 {
  border-radius: 25px;
}
.g-rounded-30 {
  border-radius: 30px;
}
.g-rounded-50 {
  border-radius: 50px;
}

/* Rounded Top */
.g-rounded-top-5 {
  border-radius: 5px 5px 0 0;
}

/* Rounded Right */
.g-rounded-right-3 {
  border-radius: 0 3px 3px 0;
}

.g-rounded-right-5 {
  border-radius: 0 5px 5px 0;
}

.g-rounded-right-30 {
  border-radius: 0 30px 30px 0 !important;
}

.g-rounded-right-50 {
  border-radius: 0 50px 50px 0 !important;
}

/* Rounded Bottom */
.g-rounded-bottom-0 {
 border-bottom-right-radius: 0 !important;
 border-bottom-left-radius: 0 !important;
}
.g-rounded-bottom-3 {
  border-radius: 0 0 3px 3px;
}
.g-rounded-bottom-4 {
  border-radius: 0 0 4px 4px;
}
.g-rounded-bottom-5 {
  border-radius: 0 0 5px 5px;
}

/* Rounded Left */
.g-rounded-left-3 {
  border-radius: 3px 0 0 3px;
}

.g-rounded-left-5 {
  border-radius: 5px 0 0 5px;
}

.g-rounded-left-30 {
  border-radius: 30px 0 0 30px !important;
}

@media (min-width: $g-lg) {
  .g-rounded-left-5--lg-up {
    border-radius: 5px 0 0 5px !important;
  }

  .g-rounded-right-5--lg-up {
    border-radius: 0 5px 5px 0 !important;
  }
}