// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Links
//
// Style anchor elements.
$green:  #5cb85c !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;

$brand-success:             $green !default;
$brand-danger:             $red !default;
$brand-warning:             $orange !default;

$link-color:            $brand-warning !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$component-active-bg:    $brand-warning !default;

$dropdown-link-active-bg:        $component-active-bg !default;

$pagination-active-bg:                 $brand-warning !default;
$pagination-active-border:             $brand-warning !default;
