// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Links
//
// Style anchor elements.
$green:  #5cb85c !default;
$brand-success:             $green !default;
$link-color:            $brand-success !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$component-active-bg:    $brand-success !default;

$dropdown-link-active-bg:        $component-active-bg !default;

$pagination-active-bg:                 $brand-success !default;
$pagination-active-border-color:             $brand-success !default;
