// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$line-height-base: 1.8 !default;

$font-size-h1: 1.8rem !default;
$font-size-h2: 1.6rem !default;
$font-size-h3: 1.4rem !default;
$font-size-h4: 1.25rem !default;
$font-size-h5: 1rem !default;
$font-size-h6: 1rem !default;

$grid-gutter-width-base:     20px !default;


$spacer: 1rem !default;
// Navbar

$navbar-padding-y:                  0;
$navbar-padding-x:                  $spacer !default;
