// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$small-font-size: 87.5% !default;
//$line-height-base: 1.8 !default;

//$navbar-padding-x: 3rem !default;
$navbar-nav-link-padding-x: .5rem !default;

$grid-gutter-width: 20px !default;

$posts-blockquote: 1rem !default;

$blockquote-font-size:    1rem !default;

$card-border-color:        #e7eaf1 !default;
$card-columns-gap:         1.25rem !default;

$table-cell-padding:            .5rem !default;
$table-cell-padding-sm:         .3rem !default;
