// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

// body {
//   padding-top: 3.5rem;
// }

// margin-bottom

.mb-0-p {
  p {
    margin-bottom: 0;
  }
}

.pt-3-5 {
  padding-top: 3.5rem;
}

.pt-6-5 {
  padding-top: 6.5rem;
}

.navbar {
  transition: .5s;
}


// list-group

// Base class
//
// Easily usable on <ul>, <ol>, or <div>.

.widget ul {
  display: flex;
  flex-direction: column;

  // No need to set list-style: none; since .list-group-item is block level
  padding-left: 0; // reset padding because ul and ol
  margin-bottom: 0;
}


// Interactive list items
//
// Use anchor or button elements instead of `li`s or `div`s to create interactive
// list items. Includes an extra `.active` modifier class for selected items.

.list-group-item-action {
  width: 100%; // For `<button>`s (anchors become 100% by default though)
  color: $list-group-action-color;
  text-align: inherit; // For `<button>`s (anchors inherit)

  // Hover state
  @include hover-focus {
    color: $list-group-action-hover-color;
    text-decoration: none;
    background-color: $list-group-hover-bg;
  }

  &:active {
    color: $list-group-action-active-color;
    background-color: $list-group-action-active-bg;
  }
}


// Individual list items
//
// Use on `li`s or `div`s within the `.list-group` parent.

.widget ul li {
  position: relative;
  display: block;
  padding: $list-group-item-padding-y $list-group-item-padding-x;
  // Place the border on the list items and negative margin up for better styling
  margin-bottom: -$list-group-border-width;
  //background-color: $list-group-bg;
  border: $list-group-border-width solid $list-group-border-color;

  &:first-child {
    @include border-top-radius($list-group-border-radius);
  }

  &:last-child {
    margin-bottom: 0;
    @include border-bottom-radius($list-group-border-radius);
  }

  @include hover-focus {
    text-decoration: none;
  }

  &.disabled,
  &:disabled {
    color: $list-group-disabled-color;
    background-color: $list-group-disabled-bg;
  }

  // Include both here for `<a>`s and `<button>`s
  &.active {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
    border-color: $list-group-active-border-color;
  }
}


// Flush list items
//
// Remove borders and border-radius to keep list group items edge-to-edge. Most
// useful within other components (e.g., cards).

.widget ul {
  li {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }

  &:first-child {
    li:first-child {
      border-top: 0;
    }
  }

  &:last-child {
    li:last-child {
      border-bottom: 0;
    }
  }
}


// Contextual variants
//
// Add modifier classes to change text and background color on individual items.
// Organizationally, this must come after the `:hover` states.

@each $color, $value in $theme-colors {
  @include list-group-item-variant($color, theme-color-level($color, -9), theme-color-level($color, 6));
}


// widget

.widget-area {
  .widget {
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.widget_categories,
.widget_meta,
.widget_recent_comments,
.widget_recent_entries,
.widget_nav_menu,
.widget_archive,
.widget_pages {
  .card-body {
    padding: 0;
  }
  ul {
    li {
      a {
        color: #666;
      }
    }
  }
}

.comment-author-link {
  margin-right: .25rem;
}

.widget_recent_entries {
  .post-date {
    font-size: 85%;
    color: #8e9191;
  }
}

.widget_media_image {
  .card-body {
    padding:0;
    img {
      border-radius: 4px;
    }
  }
}

.widget_tag_cloud,
.widget_text,
.widget_custom_html {
  .card-title {
    border-bottom: 1px solid rgba(0,0,0,.125);;
  }
  .card-body {
    padding: 0;
  }
}

#wrapper-footer-full  {
  .card ul {
    display: flex;
    flex-direction: column;

    // No need to set list-style: none; since .list-group-item is block level
    padding-left: 0; // reset padding because ul and ol
    margin-bottom: 0;
  }
  .card ul li {
    position: relative;
    display: block;
    padding: $list-group-item-padding-y 0; //$list-group-item-padding-x
    // Place the border on the list items and negative margin up for better styling
    margin-bottom: -$list-group-border-width;
  }
}

#wrapper-footer {
  background-color: #ddd;
  padding: 20px 0;
  color: #777;
  a {
    color: #666;
  }
}

.tagcloud,
.textwidget {
  padding: 1.25rem;
}

.static-hero-widget {
  i {
    color: rgb(103, 190, 233);
    font-size: 60px;
  }
  .textwidget {
    padding: 0;
  }
}

.carousel .textwidget {
  padding: 0;
}

#wp-calendar {
  width: 100%;
}

.card {
  > .list-group:first-child {
    .list-group-item:first-child {
      @include border-top-radius($card-border-radius);
    }
  }

  > .list-group:last-child {
    .list-group-item:last-child {
      @include border-bottom-radius($card-border-radius);
    }
  }
}

.card-horizontal {
  flex-direction: row;
}

.card-horizontal-sm-up {

}
.card-horizontal-md-up {

}

.card-horizontal .card-img {
  flex: 0 0 33%;
}
.card-horizontal .card-body {
  flex: 0 0 67%;
}

/** Media **/

.media .avatar {
  margin-right: 20px;
}

.comments-title {
  border-bottom: 1px solid #ddd;
}

.comment-list .media {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

// .card-body .comment-respond {
//   flex: 1 1 auto;
//   padding: 0;
// }
//
// .comment-respond {
//   flex: 1 1 auto;
//   padding: 1.25rem;
// }

.comment-reply-title {
  font-size: 1.5rem;
  small {
    font-size: 1rem;
  }
}

.logged-in-as {
  font-size: .875rem;
  color: #666;
  a {
    color: #666;
  }
}

/** 效果 **/

.img-grow {
  display: block;
  overflow:hidden;
  img {
    transition: all .5s ease;
  }
}

.img-grow:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

/** shadow **/

.l-shadow-v0 {
  box-shadow: 0 2px 4px rgba(0, 37, 55, .05);
}

/** link **/

.l-link-v4 {
  color: $gray-600;
  a {
    color: $gray-600;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  a:hover,
  a:focus {
    color: $blue;
  }
}

// height and width

.l-w-90 {
  width: 100px;
}

.l-h-50 {
  height: 50px;
}

.l-h-2-4 {
  height: 2.4rem;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

.nowrap {
  overflow: hidden;
  white-space: nowrap;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box!important;
  -webkit-line-clamp: 2!important;
  -webkit-box-orient: vertical!important;
}

.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box!important;
  -webkit-line-clamp: 4!important;
  -webkit-box-orient: vertical!important;
}

.fw-400 {
  font-weight: 400;
}

.tc-v2 {
  color: #666;
}
