// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

@if $enable-grid-classes {
  .row {
    @include make-row();
  }

  // Remove the negative margin from default .row, then the horizontal padding
  // from all immediate children columns (to prevent runaway style inheritance).
  .no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .gutter-20 {
    margin-right: -10px;
    margin-left: -10px;

    > .col,
    > [class*="col-"] {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}

.admin-bar .navbar {
  margin-top: 32px;
}

// margin-bottom

.mb-0-p {
  p {
    margin-bottom: 0;
  }
}

.pt-3-5 {
  padding-top: 3.5rem;
}

.pt-6-5 {
  padding-top: 6.5rem;
}
@media (min-width: 768px) {
  .g-pr-md-4 {
    padding-right: 1.5rem !important;
  }

  .g-pl-md-4 {
    padding-left: 1.5rem !important;
  }
}


.navbar {
  transition: .5s;
}

.entry {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.entry:first-child {
  padding-top: 0;
}

.entry:last-child {
  border-bottom: 0;
}



// list-group

.widget ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.widget ul.children {
  margin-left: 20px;
}

.widget ul li {
  position: relative;
  display: block;
  padding: .5rem 0;
  // Place the border on the list items and negative margin up for better styling
  //background-color: $list-group-bg;
  &:last-child {
  }
}

.widget ul.children {
  margin-top: $list-group-item-padding-y;
  margin-bottom: -$list-group-item-padding-y;
}


// widget

.widget-area {
  .widget {
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.widget_categories,
.widget_meta,
.widget_recent_comments,
.widget_recent_entries,
.widget_nav_menu,
.widget_archive,
.widget_pages {
  .card-body {
    padding: 0;
  }
  ul {
    li {
      a {
        color: #666;
      }
    }
  }
}

.comment-author-link {
  margin-right: .25rem;
}

.widget_recent_entries {
  .post-date {
    font-size: 85%;
    color: #8e9191;
  }
}

.widget_media_image {
  .card-body {
    padding:0;
    img {
      border-radius: 4px;
    }
  }
}

.widget_tag_cloud,
.widget_text,
.widget_custom_html {
  .card-body {
    padding: 0;
  }
}

#wrapper-footer-full  {
  .card ul {
    display: flex;
    flex-direction: column;

    // No need to set list-style: none; since .list-group-item is block level
    padding-left: 0; // reset padding because ul and ol
    margin-bottom: 0;
  }
  .card ul li {
    position: relative;
    display: block;
    padding: $list-group-item-padding-y 0; //$list-group-item-padding-x
    // Place the border on the list items and negative margin up for better styling
    margin-bottom: -$list-group-border-width;
  }
}

#wrapper-footer {
  background-color: #ddd;
  padding: 20px 0;
  color: #777;
  a {
    color: #666;
  }
}

.tagcloud {
  .tag-cloud-link {
    color: #666;
  }
}

.widget {
  .gallery {
    margin-bottom: 0;
  }
}

.widget_media_image {
  img {
    width: 100%;
    border-radius: 4px;
  }
}

.widget-lean-posts {
  .card-body {
    padding-bottom: 0;
  }
}

.static-hero-widget {
  i {
    color: rgb(103, 190, 233);
    font-size: 60px;
  }
  .textwidget {
    padding: 0;
  }
}

.carousel .textwidget {
  padding: 0;
}

#wp-calendar {
  width: 100%;
}

.footer-widget {
  .textwidget,
  .tagcloud {
    padding: 0;
  }
}

.card {
  > .list-group:first-child {
    .list-group-item:first-child {
      @include border-top-radius($card-border-radius);
    }
  }

  > .list-group:last-child {
    .list-group-item:last-child {
      @include border-bottom-radius($card-border-radius);
    }
  }
}

.card-horizontal {
  flex-direction: row;
}

.card-horizontal-sm-up {

}
.card-horizontal-md-up {

}

.card-horizontal .card-img {
  flex: 0 0 33%;
}
.card-horizontal .card-body {
  flex: 0 0 67%;
}

/** Comments Media **/

.media .avatar {
  margin-right: 20px;
}

.comments-title {
  border-bottom: 1px solid #eee;
}

.comment-list .media {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.comment-reply-title {
  display: inline-block;
  padding: .5rem 0;
  font-size: 1.25rem;
  border-bottom: 1px solid #007BFF;
}

.logged-in-as {
  font-size: 80%;
  color: #666;
  a {
    color: #666;
  }
}

/** 效果 **/

.img-grow {
  display: block;
  overflow:hidden;
  img {
    transition: all .5s ease;
  }
}

.img-grow:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

/** shadow **/

.l-shadow-v0 {
  box-shadow: 0 2px 4px rgba(0, 37, 55, .05);
}

/** link **/

.l-link-v4 {
  color: $gray-600;
  a {
    color: $gray-600;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  a:hover,
  a:focus {
    color: $blue;
  }
}

// height and width

.l-w-90 {
  width: 90px;
}

.l-h-50 {
  height: 50px;
}

.l-h-2-4 {
  height: 2.4rem;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

.nowrap {
  overflow: hidden;
  white-space: nowrap;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box!important;
  -webkit-line-clamp: 2!important;
  -webkit-box-orient: vertical!important;
}

.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box!important;
  -webkit-line-clamp: 4!important;
  -webkit-box-orient: vertical!important;
}

.fw-400 {
  font-weight: 400;
}

.tc-v2 {
  color: #666;
}

.entry-content {
  line-height: 1.8;
  h1,h2,h3,h4 {
    margin: 1.5rem 0;
  }
  h5,h6 {
    margin: 1rem 0;
  }
}

// border

.l-title-v0 {
  border-bottom: 1px solid #007BFF;
}

.l-bb-1,
.l-by-1 {
  border-bottom: 1px solid $eee;
}

.l-bt-1,
.l-by-1 {
  border-top: 1px solid $eee;
}
