.card {
  margin-bottom: 20px;
  width: 100%;
  p:last-child {
    margin-bottom: 0;
  }
}

.posts {
  blockquote {
    font-size: $posts-blockquote;
  }
}

.card-block {
  ul {
    margin-bottom: 0; //覆盖默认的margin-bottom
  }
}

.card-img-overlay {
  background: rgba(5, 5, 5, 0.4);
}

.card-aside {

}

.card-quote {

}

.card-status {

}

.posts-card {

  .row > div[class*='col-'] {
    display: flex;
    //flex:1 0 auto;
  }

  .card {
    transition: all .5s ease;
  }

  .card-title {
    // line-height: 1.5;
    // //font-size: 1rem;
    // font-weight: 400;
  }

  .card-footer {
    color: #999;
    margin-bottom: 0;
    a {
      color: #aaa;
    }
  }
}

.l-shadow--hover:hover {
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, .08);
  border-color: rgba(0, 0, 0, .08)
}
