.admin-bar .fixed-top {
  margin-top: 32px;
}

.navbar-shadow {
  // box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  //border-bottom: 1px solid rgba(30, 35, 42, .06);
  box-shadow: 0 1px 3px 0 rgba(0, 34, 77, .05);
}

// .navbar-nav {
//   .nav-item {
//     transition: all .5s ease;
//   }
//   .nav-item:hover {
//     background-color: rgba(9, 9, 9, 0.87);
//   }
// }

.mt--0-5 {
  margin-top: -0.5rem;
}
