.admin-bar .fixed-top {
  margin-top: 32px;
}

.navbar-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 34, 77, .05);
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .75rem;
    padding-left: .75rem;
  }
}
