// 工具类

.ml--3 {
  margin-left: -1rem;
}

.mx--3 {
  margin-left: -1rem;
  margin-right: -1rem;
}

.z-100 {
  z-index: 100;
}

.g-oc-0-5 {
  opacity: .9;
}

.z-101 {
  z-index: 101;
  font-weight: 400;
}

.g-pos-rel {
  position: relative !important;
}

.g-pos-abs {
  position: absolute !important;
}

.g-left-20 {
  left: .5rem;
}

.g-top-20 {
  top: .5rem;
}

.g-left-0 {
  left: 0;
}

.g-top-0 {
  top: 0;
}

.g-right-0 {
  right: 0;
}

.g-bottom-0 {
  bottom: 0;
}

/*------------------------------------
  Typography Font Weight
------------------------------------*/
.g-font-weight-100 {
  font-weight: 100; }

.g-font-weight-200 {
  font-weight: 200; }

.g-font-weight-300 {
  font-weight: 300; }

.g-font-weight-400 {
  font-weight: 400; }

.g-font-weight-500 {
  font-weight: 500; }

.g-font-weight-600 {
  font-weight: 600; }

.g-font-weight-700 {
  font-weight: 700; }

.g-font-weight-800 {
  font-weight: 800; }

.g-font-weight-900 {
  font-weight: 900; }

// padding and margin
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
// fix p tag margin bottom 1rem
.p-mb-0 {
  p:last-child {
    margin-bottom: 0;
  }
}
