// 工具类

.ml--3 {
  margin-left: -1rem;
}

.mx--3 {
  margin-left: -1rem;
  margin-right: -1rem;
}

.z-100 {
  z-index: 100;
}

.z-101 {
  z-index: 101;
  font-weight: 400;
}

.g-pos-rel {
  position: relative !important;
}

.g-pos-abs {
  position: absolute !important;
}

.g-left-20 {
  left: .5rem;
}

.g-top-20 {
  top: .5rem;
}

.g-left-0 {
  left: 0;
}

.g-top-0 {
  top: 0;
}

.g-right-0 {
  right: 0;
}

.g-bottom-0 {
  bottom: 0;
}

/*------------------------------------
  Typography Font Weight
------------------------------------*/
.g-font-weight-100 {
  font-weight: 100; }

.g-font-weight-200 {
  font-weight: 200; }

.g-font-weight-300 {
  font-weight: 300; }

.g-font-weight-400 {
  font-weight: 400; }

.g-font-weight-500 {
  font-weight: 500; }

.g-font-weight-600 {
  font-weight: 600; }

.g-font-weight-700 {
  font-weight: 700; }

.g-font-weight-800 {
  font-weight: 800; }

.g-font-weight-900 {
  font-weight: 900; }

.text-gray200 {
  color: $gray-200;
}

.text-gray300 {
  color: $gray-300;
}

.text-gray400 {
  color: $gray-400;
}

.text-gray500 {
  color: $gray-500;
}

.text-gray600 {
  color: $gray-600;
}

.text-gray700 {
  color: $gray-700;
}

.text-gray800 {
  color: $gray-800;
}

.g-color-gray-light-v5 {
  color: $g-color-gray-light-v5 !important;
}
