// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Fonts
//
// Font, line-height, and color for body text, headings, and more.


$font-size-root: 14px;

$h1-font-size: 2rem !default;
$h2-font-size: 1.5rem !default;
$h3-font-size: 1.25rem !default;
$h4-font-size: 1.15rem !default;
$h5-font-size: 1rem !default;
$h6-font-size: 1rem !default;

//$line-height-base: 1.5 !default;

$smaller-font-size: 75% !default; //新增

$posts-blockquote: 1rem !default;

$blockquote-font-size:    1rem !default;

$card-border-color:        #e7eaf1 !default;
$card-columns-gap:         1.25rem !default;
