$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 990px,
  xl: 1230px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 20px !default;
