/*------------------------------------
  Tabs v6
------------------------------------*/

@media (min-width: $g-md) {
  .u-tab-link-v6 {
    display: inline-block;
    border-bottom: 2px solid transparent;
    padding: 15px 0;
  }
}
