/*------------------------------------
  Tabs v9
------------------------------------*/

@media (min-width: $g-md) {
  .u-tab-link-v9 {
    position: relative;
    padding: 0 10px;

    *:not(:first-child) > & {
      &::before {
        content: "";
        position: absolute;
        left: -1px;
        top: 50%;
        display: block;
        width: 0;
        height: 7px;
        border-left: 1px solid;
        transform: translateY(-50%);
      }
    }
  }
}
