/*------------------------------------
  Tabs v3
------------------------------------*/

@media (min-width: $g-md) {
  .u-tab-link-v3 {
    display: block;
    border: 1px solid;
    padding: 8px 20px;
  }
}
