/*------------------------------------
  Tabs v4
------------------------------------*/

@media (min-width: $g-md) {
  .u-tab-link-v4 {
    display: block;
    border-bottom: 1px solid transparent;
    padding: 6px 0;
    margin-bottom: -1px;
  }
}
