/*------------------------------------
  Tabs v8
------------------------------------*/

@media (min-width: $g-md) {
  .u-tab-link-v8 {
    display: block;
    border: {
      width: 1px 0 0;
      style: solid;
    }
    padding: 15px 0;

    *:last-child > & {
      border-width: 1px 0;
    }
  }
}
