.avatar-80 {
  margin: 0 auto;
}

.posts-card {
  .col-lg-3,
  .col-lg-4 {
    margin-bottom: 20px;
  }
  .card {
    height: 100%;
  }
  .card-title {
    //font-size: 1rem;
    font-weight: 400;
    a {
      color: #444;
    }
  }
  .entry-footer {
    margin-bottom: 0;
  }
}

.profile-header {
  background-size: cover;
  height: 400px;
  color: #fff;
}

.phc {
  max-width: 300px;
  margin: 0 auto;
}
