.posts-card {
  .row > div[class*='col-'] {
    display: flex;
    //flex:1 0 auto;
  }
  .card {
    margin-bottom: 1rem;
  }
  .card:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .08);
    border-color: rgba(0, 0, 0, .08)
  }

  .card-body {
    padding: 12px 10px;
  }
  .card-text {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }
  .card-title {
    line-height: 1.5;
    //font-size: 1rem;
    font-weight: 400;
    a {
      color: #444;
    }
  }
  .card-footer {
    color: #999;
    margin-bottom: 0;
    a {
      color: #aaa;
    }
  }
}

.profile-header {
  background-size: cover;
  background-color: rgb(141, 144, 147);
  height: 400px;
  color: #fff;
  display: table-cell;
  width: 1000000px;
  text-align: center;
  vertical-align: middle;
  .avatar {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

.profile-header-container {
  max-width: 300px;
  margin: 0 auto;
}
