.bg-white {
  background-color: $white;
}

.bg-gray200 {
  background-color: $gray-200;
}

.bg-gray300 {
  background-color: $gray-300;
}

.bg-gray400 {
  background-color: $gray-400;
}

.bg-gray500 {
  background-color: $gray-500;
}

.bg-gray600 {
  background-color: $gray-600;
}

.bg-gray700 {
  background-color: $gray-700;
}

.bg-gray800 {
  background-color: $gray-800;
}
