.card-footer {
  border-top: 0;
  padding: 0 $card-spacer-x $card-spacer-y $card-spacer-x;
}

.card {
  margin-bottom: .75rem;
  box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
  width: 100%;
  .card-block {
    ul {
      margin-bottom: 0; //覆盖默认的margin-bottom
    }
  }
}

.card-img-overlay {
  background: rgba(5, 5, 5, 0.4);
}

.related-posts {
  border-bottom: 1px solid #eee;
  .card {
    border: 0;
    box-shadow: 0 0px 0px rgba(0, 37, 55, .05);
    .card-text {
      margin-top: .5rem;
      a {
        color: #333;
      }
    }
  }
}
