.card-footer {
  border-top: 0;
  padding: 0 $card-spacer-x $card-spacer-y $card-spacer-x;
}

.card {
  margin-bottom: .75rem;
  box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
  width: 100%;
  .card-block {
    ul {
      margin-bottom: 0; //覆盖默认的margin-bottom
    }
  }
}

.card-title {
  max-height: 3.6rem;
}

.card-title {
  max-height: 3.6rem;
}

.card-title,
.card-text {
  //white-space: nowrap;  //单行时引用
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box!important;
  -webkit-line-clamp: 2!important;
  -webkit-box-orient: vertical!important;
}

.card-img-overlay {
  background: rgba(5, 5, 5, 0.4);
}

.related-posts {
  border-bottom: 1px solid #eee;
  .card {
    border: 0;
    box-shadow: 0 0px 0px rgba(0, 37, 55, .05);
    .card-text {
      margin-top: .5rem;
      a {
        color: #333;
      }
    }
  }
}


.entry-excerpt {
  max-height: 3rem;
  overflow: hidden;

  text-overflow: ellipsis;
  display: -webkit-box!important;
  -webkit-line-clamp: 2!important;
  -webkit-box-orient: vertical!important;
}

.entry-img {
  display: block;
  overflow:hidden;
  img {
    transition: all .5s ease;
  }
}

.entry-img:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

// 文章页

.entry-content {

  h2 {
    margin: 30px 0;
    font-weight: bold;
  }

  h3,h4,h5,h6 {
    margin: 20px 0;
  }

  p {
    line-height: 2;
    margin-bottom: 1.25rem;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    color: #3d464d;
  }

  ul li,ol li {
    font-size: 1rem;
    line-height: 1.8;
  }
}
