.card-footer {
  border-top: 0;
  padding: 0 $card-spacer-x $card-spacer-y $card-spacer-x;
}

.card {
  width: 100%;
  .card-block {
    ul {
      margin-bottom: 0; //覆盖默认的margin-bottom
    }
  }
}

.posts-list {
  .card {
    border-bottom: 1px solid rgb(230, 223, 223);
    transition: all 0.3s ease;
  }
  .card:hover {
    background: #eee;
  }
}
