/***entry-content ***/
.entry-excerpt {
  p:last-child {
    margin-bottom: 0;
  }
}

.entry-img {
  display: block;
  overflow:hidden;
}
.entry-img img {
  transition: all .5s ease;
}

.entry-img:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

/** 文章页 **/
.entry-content {
  h2 {
    margin: 30px 0;
    font-weight: bold;
  }

  /*****************************
  ~~ Post Format: quote
  *****************************/

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5rem 1rem;
    padding: 0.5rem 1rem;
    quotes: "\201C""\201D""\2018""\2019";
  }

  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
}

.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin: 20px 0;
}

.entry-content p {
  margin: 1em 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  color: #3d464d;
}

.entry-content ul li,
.entry-content ol li {
  font-size: 1rem;
  line-height: 1.8;
}
