
// entry-content

.entry-excerpt {
  p:last-child {
    margin-bottom: 0;
  }
}

.entry-img {
  display: block;
  overflow:hidden;
  img {
    transition: all .5s ease;
  }
}

.entry-img:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

// 文章页

.entry-content {

  h2 {
    margin: 30px 0;
    font-weight: bold;
  }

  h3,h4,h5,h6 {
    margin: 20px 0;
  }

  p {
    margin-bottom: 1.25rem;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    color: #3d464d;
  }

  ul li,ol li {
    font-size: 1rem;
    line-height: 1.8;
  }
}
