/*****************************
 ~~ html specific
*****************************/

.footer {
  background: #fff;
  padding: 1rem 0;
  font-size: 85%;
  p {
    color: #666;
  }
  a {
    color: #777;
    opacity: 0.75;
  }
}

.footer-inverse {
  background: #2a2730;
  p {
    color: #99979c;
  }
  a {
    color: #fff;
  }
}
