/*****************************
 ~~ html specific
*****************************/

// .footer-b {
//   color: $gray-200;
//   a {
//     color: $gray-200;
//   }
// }

.footer-inverse {
  background: #2a2730;
  p {
    color: #99979c;
  }
  a {
    color: #fff;
  }
}
