// link-color

.text-link-color {
  color: #333;
  a {
    color: #333;
    text-decoration: $link-decoration;
    transition: all 0.3s ease;

    @include hover-focus {
      color: $link-color;
      text-decoration: $link-decoration;
    }
  }
}

.text-link-color-muted {
  color: #aaa;
  a {
    color: #aaa;
    text-decoration: $link-decoration;
    transition: all 0.3s ease;

    @include hover-focus {
      color: $link-color;
      text-decoration: $link-decoration;
    }
  }
}

.text-link-color-muted {
  color: #aaa;
  a {
    color: #aaa;
    text-decoration: $link-decoration;
    transition: all 0.3s ease;

    @include hover-focus {
      color: $link-color;
      text-decoration: $link-decoration;
    }
  }
}

.widget ul li {
  a {
    text-decoration: $link-decoration;
    transition: all 0.3s ease;

    @include hover-focus {
      color: $link-color;
      text-decoration: $link-decoration;
    }
  }
}

.widget_recent_comments .recentcomments {
  a {
    color: $link-color;
    text-decoration: $link-decoration;
    transition: all 0.3s ease;
    @include hover-focus {
      color: $link-color;
      text-decoration: $link-decoration;
    }
  }
}
