.card-title,
.entry-title,
.posts-card .card-text {
  color: #333;
  a {
    color: #333;
  }
}

.posts-card .card-footer,
.entry-meta {
  color: #aaa;
  font-size: 85%;
  a {
    color: #aaa;
  }
}

.card-title,
.posts-card .card-footer,
.entry-meta,
.widget ul li,
.related-posts .card-text {
  a {
    text-decoration: $link-decoration;
    transition: all 0.3s ease;

    @include hover-focus {
      color: $link-color;
      text-decoration: $link-decoration;
    }
  }
}

.widget_recent_comments .recentcomments {
  a {
    color: $link-color;
    text-decoration: $link-decoration;
    transition: all 0.3s ease;
    @include hover-focus {
      color: $link-color;
      text-decoration: $link-decoration;
    }
  }
}
