/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
  display: block;
  height: auto;
  max-width: 100%; }

.avatar {
  border-radius: 50%;
}

.entry-img {
  display: block;
  overflow:hidden;
  img {
    transition: all .5s ease;
  }
}

.entry-img:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}
