/*****************************
 ~~ html specific
*****************************/

.footer {
  background: #2a2730;
  padding: 10px 0;
  font-size: 85%;
  p {
    color: #99979c;
    margin-bottom: 0;
  }
  a {
    color: #fff;
    opacity: 0.75;
  }
}
