body {
  padding-top: 3.76rem;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.bg-white {
  background-color: #fff;
}

/** post-tags **/

.post-tags,
.hot-tags {
  .btn {
    border-radius: 80px;
  }
}

.hot-tags {
  a {
    margin-top: 5px ;
    margin-bottom: 5px;
  }
}

.jumbotron {
  background-color: #f7f7f9;
}

img {
  display: block;
  height: auto;
  max-width: 100%; }

.avatar {
  border-radius: 50%;
}

/*****************************
 ~~ WordPress Config Specific
*****************************/

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.hide-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.hide-bullets li.col-sm-4 {
  padding: 0;
}

/*****************
 ~~ Blog (home)
*****************************/

article.post {
  margin: 20px 0;

}

/*****************************
 ~~ 404 (error)
*****************************/

body.error404 {
    background: #563D7C;
    color: #f7f7f7;
}

/*****************************
~~ Posts display (list / grid)
*****************************/

#display {
    margin: 0 0 40px 8px;
}

#display a {
    font-size: 16px;
}

div#post-metadata {
    display: none;
}

/**tag**/
.tag-tip {
  font-size: 1.1rem;
  color: #68727d; }

.widget_lean_posts .card,
.related-posts .card {
  margin-bottom: 20px;
}

.card {
  margin-bottom: 1rem;
  .card-block {
    ul {
      margin-bottom: 0; //覆盖默认的margin-bottom
    }
  }
}
