.jumbotron {
  margin-bottom: 0;
  border-radius: 0;
}

.main-content {
  background-color: #fff;
  border: 1px solid #e7eaf1;
  box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
  border-radius: 0.25rem;
  // box-shadow: 0 2px 16px rgb(229, 236, 237), 0 0 1px rgb(229, 236, 237), 0 0 1px rgb(229, 236, 237);
  // opacity: 0.9;
}
