// 工具类

.gutter-width-larger {
  margin-right: -15px;
  margin-left: -15px; }
  .gutter-width-larger > .col,
  .gutter-width-larger > [class*="col-"] {
    padding-right: 15px;
    padding-left: 15px; }

.ml--3 {
  margin-left: -1rem;
}

.mx--3 {
  margin-left: -1rem;
  margin-right: -1rem;
}

.text-white {
  color: $white;
}

.text-gray200 {
  color: $gray-200;
}

.text-gray300 {
  color: $gray-300;
}

.text-gray400 {
  color: $gray-400;
}

.text-gray500 {
  color: $gray-500;
}

.text-gray600 {
  color: $gray-600;
}

.text-gray700 {
  color: $gray-700;
}

.text-gray800 {
  color: $gray-800;
}
