/**
 * 设置背景
 */
.site-main,
.jumbotron {
  background: #fff;
  box-shadow: 0 2px 16px rgb(229, 236, 237), 0 0 1px rgb(229, 236, 237), 0 0 1px rgb(229, 236, 237);
  opacity: 0.9;
}

.jumbotron {
  margin-bottom: 0;
  border-radius: 0;
}

.site-main {
  padding: 1.25rem 1rem;
  //border-radius: 0.3rem;
}

.home {
  .entry:first-child {
    margin-top: -1rem;
  }
}
