@import "../custom";
@import "../variables";
@import "../mixins";

body {
  padding-top: 3.76rem;
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

/** post-tags **/

.post-tags,
.hot-tags {
  .btn {
    border-radius: 80px;
  }
}

.hot-tags {
  a {
    margin-top: 5px ;
    margin-bottom: 5px;
  }
}

.jumbotron {
  background-color: #f7f7f9;
}

img {
  display: block;
  height: auto;
  max-width: 100%; }

@media (max-width: 768px) {
  #sticky-posts {
    margin-top: 1rem; } }

.avatar {
  border-radius: 50%;
}

.shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5); }

/*****************************
 ~~ WordPress Config Specific

 .sticky {
   background-color: #FFEBCD;
 }
*****************************/

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.hide-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.hide-bullets li.col-sm-4 {
  padding: 0;
}

/*****************
 ~~ Blog (home)
*****************************/

article.post {
  margin: 20px 0;

}

/*****************************
 ~~ admin
*****************************/

.admin-bar .navbar-fixed-top {
    margin-top: 32px;
}

/*****************************
 ~~ 404 (error)
*****************************/

body.error404 {
    background: #563D7C;
    color: #f7f7f7;
}

/*****************************
~~ Posts display (list / grid)
*****************************/

#display {
    margin: 0 0 40px 8px;
}

#display a {
    font-size: 16px;
}

div#post-metadata {
    display: none;
}

/**tag**/
.tag-tip {
  font-size: 1.1rem;
  color: #68727d; }


.widget_lean_posts .card,
.related-posts .card {
  margin-bottom: 20px;
}

.card .card-block ul {
  margin-bottom: 0; //覆盖默认的margin-bottom
}

.card {
  margin-bottom: 1rem;
}

.widget_calendar .table {
  margin-bottom: 0;
}
