.search .posts-list h2 {
  font-size: 1.15rem;
}

.posts-list h2 {
  font-size: 1.25rem;
}

@media (max-width: 576px) {
  .posts-list h2 {
    font-size: 1rem;
    font-weight: 400;
  }
}


/**
 * Related Posts
 */

.related-posts .card {
  border: 0;
  background-color: inherit;
  .card-text {
    margin-top: .5rem;
    a {
      color: #333;
    }
  }
}
